/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.font-rib{
    font-family: "Ribeye Marrow", serif;
}
.font-alt{
    font-family: "Alatsi", sans-serif;
}
.font-spla{
    font-family: "Splash", cursive;
}

header{
    background-image: url(https://as2.ftcdn.net/v2/jpg/05/45/59/77/1000_F_545597722_DeOAhb8Q86KmzV2htXOfj9nKDLnXptod.jpg);
    background-size:cover ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: #F1FAEE;    
}
#title{
    background-color: #1D3557;
    margin-top: 122px;
    padding: 5px 15px;
    border-radius:10px ;
}
#invite{
    background-color: #457B9D;
    margin-bottom: 119px;
    padding: 5px 15px;
    border-radius:10px ;
}
main{
    background-color: #F1FAEE;
}
.activ{
    color: #1D3557;
    display: flex;
    justify-content: space-around;
}
.activ-img{
    border-radius: 50%;
    width: 100px;
}
footer{
    color: #1D3557;
    background-color: #A8DADC;
    display: flex;
    align-items: center;
    margin: 40px auto ;
    border-bottom: 2px solid green;
    padding: 3px 20px;
    justify-content: space-around;
    border-radius: 15px;
    width: 400px;
    height: 294px;
    top: 50px;
    left: 160px;    
}
#guide-img{
width: 180px;
height: 248.67px;
top: 73px;
left: 173px;
gap: 0px;
border-radius: 15px;
opacity: 0px;

}
.font-italic{
    font-style: italic;
}
#title-two{
    color: #1D3557;
    margin: 39px 0px 54px 0px;
}
